In [18]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score

In [2]:
data = pd.read_csv("/kaggle/input/brasilian-houses-to-rent/houses_to_rent.csv")

In [3]:
data.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [4]:
data['animal'].replace(to_replace="acept",value=1,inplace=True)
data['animal'].replace(to_replace="not acept",value=0,inplace=True)

In [5]:
data['floor'].replace(to_replace="-",value=0,inplace=True)

In [6]:
data['furniture'].replace(to_replace='furnished',value=1,inplace=True)
data['furniture'].replace(to_replace='not furnished',value=1,inplace=True)

In [7]:
fetures_need_help = ['hoa','rent amount','property tax','fire insurance','total']
for col in fetures_need_help:
    data[col].replace(to_replace='R\$',value='',regex=True,inplace=True)
    data[col].replace(to_replace=',',value='',regex=True,inplace=True)

In [8]:
data['hoa'].replace(to_replace='Sem info',value=0,inplace=True)
data['property tax'].replace(to_replace='Incluso',value=0,inplace=True)
data['hoa'].replace(to_replace='Incluso',value=0,inplace=True)

In [9]:
data.isin(['Incluso']).any()

Unnamed: 0        False
city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [10]:
data = data.astype(dtype=np.int64)

In [11]:
Y = data['city']
X = data.drop('city',axis=1)

In [12]:
data.sample(frac=1).reset_index(drop=True)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,131,1,440,4,4,4,0,1,1,0,12000,2500,181,14680
1,4858,1,32,1,1,0,5,1,1,400,2001,0,26,2427
2,5182,0,135,3,2,2,3,1,1,1100,2400,92,31,3623
3,4534,1,80,2,2,2,0,1,1,50,1700,177,26,1953
4,1760,1,200,2,2,1,0,1,1,0,2000,1,31,2032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,3681,1,16,1,1,0,2,1,1,397,899,18,12,1326
6076,850,1,20,1,1,0,1,0,1,0,1000,10,13,1023
6077,2557,0,89,3,1,1,5,0,1,820,2050,150,26,3046
6078,4386,1,100,2,2,2,0,1,1,0,2000,0,31,2031
6079,4998,1,80,3,3,0,0,1,1,0,2000,459,31,2490

In [13]:
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [14]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.000000,0.009351,0.222222,0.222222,0.333333,0.000000,1.0,0.0,0.000000,0.170031,0.002730,0.175074,0.022742
1,0.000165,0.002195,0.111111,0.000000,0.083333,0.101010,1.0,0.0,0.002455,0.008973,0.000333,0.011869,0.002239
2,0.000329,0.017604,0.444444,0.444444,0.333333,0.030303,1.0,0.0,0.018964,0.147600,0.003868,0.127596,0.032308
3,0.000494,0.002561,0.111111,0.111111,0.083333,0.121212,1.0,0.0,0.003182,0.018618,0.000410,0.019288,0.003914
4,0.000658,0.000366,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.017497,0.000112,0.019288,0.001605
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,0.999342,0.001626,0.111111,0.000000,0.083333,0.020202,1.0,0.0,0.001909,0.016375,0.000000,0.017804,0.002486
6076,0.999506,0.003009,0.111111,0.111111,0.083333,0.161616,0.0,0.0,0.003491,0.055630,0.000172,0.050445,0.008354
6077,0.999671,0.001545,0.000000,0.000000,0.000000,0.131313,1.0,0.0,0.001136,0.011889,0.000115,0.014837,0.001599
6078,0.999835,0.006099,0.222222,0.111111,0.166667,0.000000,0.0,0.0,0.000000,0.069089,0.000683,0.074184,0.008448
6079,1.000000,0.002033,0.111111,0.000000,0.083333,0.040404,1.0,0.0,0.002223,0.033199,0.000000,0.032641,0.004715

In [15]:
x_train , x_test , y_train , y_test = train_test_split(X,Y,test_size=0.8)
x_train.shape

(1216, 13)

In [16]:
log_model = LogisticRegression()
log_model.fit(x_train,y_train)
log_pred = log_model.predict(x_test)
log_model.score(x_test,y_test)

0.8651315789473685

In [17]:
svc_model = SVC(kernel="rbf",gamma="auto")
svc_model.fit(x_train,y_train)
svc_pred = svc_model.predict(x_test)
svc_model.score(x_test,y_test)

0.8651315789473685

In [20]:
print(f1_score(log_pred,y_test))
print(f1_score(svc_pred,y_test))

0.927689594356261
0.927689594356261